// Layout - Helpers
.h-align_right {
	text-align: right;
}

.h-align_left {
	text-align: left !important;
}

.h-top_zero {
	top: 0px;
}

.h-bt_checkbox_label {
	padding: 0px !important;
	line-height: 30px;
}

.h-border_left_none {
	border-left: none;
}

