@import "compass";
@import "susy";
@import "breakpoint";
@import "toolkit";

$susy: (
  columns: 12,
  gutters: 1/4,
  container: 1024//,
  //debug: (image:show)
);

header {
  @include pie-clearfix;

  margin-bottom: 10px;
  padding-bottom: 0px;
  
  border-bottom: 2px solid $darker_grey_color;

  p {
    margin: 0 0 5px;
  }

  .descr {
    float: left;
  }
  #bookmarkme {
    float: right;

    margin-right: 14px;
  }
}

.l-page {
  @include container; 

  .l-sidebar {
    @include span(3 of 12);
  }

  .l-editors {
    @include span(9 of 12 last);
  }
}

.l-actions {
  @include pie-clearfix;
    .advanced-settings {

  }
}

.l-buttons {
  border-bottom: 1px solid $darker_grey_color;
  padding-bottom: 10px;
}


.l-editors {
  @include pie-clearfix;
}

.l-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1024px;
}


.html-wrapper, .css-wrapper {
  float: left;
  width: 100%;  

  margin-top: 15px;

  h3 {
    display: inline-block;    
        
    margin-bottom: 0;    
    margin-top: 0px;
    
    font-size: 38px;
    
    line-height: 35px;
    vertical-align: middle;

    text-transform: uppercase;
  }

  .html-status {
    margin-left: 225px;

    color: #444b4f;
  }

  .e-html-paste, .e-css-copy {
    vertical-align: bottom;
  }

  #html-editor, #css-editor {
    margin-top: 8px;
  }

  .btn {
    vertical-align: middle;
  }
}


.html-wrapper { 

  .e-html-paste {
    display: inline-block;
    
    margin-left: 20px;
  }
}

#html-editor {                                                      

  height: 250px;
  
  border: 1px solid #ccc;
}

.css-wrapper {                    
  
  .e-css-copy {
    display: inline-block;
    margin-left: 20px;
  }
}

#css-editor {
  height: 250px;
  border: 1px solid #ccc;  
}

$blink-speed: 0.22s;
#html-editor, #css-editor, .chosen-container {
  -webkit-transition: all $blink-speed ease-in-out;
  -moz-transition: all $blink-speed ease-in-out;
  -ms-transition: all $blink-speed ease-in-out;
  -o-transition: all $blink-speed ease-in-out;
  box-shadow: none;
  border: auto;

  &.updated {
    box-shadow: 0 0 10px rgba(0, 162, 209, 1);
    border: 1px solid #51cbee;
    -webkit-transition: all $blink-speed ease-in-out;
    -moz-transition: all $blink-speed ease-in-out;
    -ms-transition: all $blink-speed ease-in-out;
    -o-transition: all $blink-speed ease-in-out;
  }
}

footer {
  @include pie-clearfix;

  margin-top: 70px;
  padding-top: 7px;

  border-top: 1px solid $darker_grey_color;

  text-align: center;
}