* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {				
	font-family: "Gotham-Bold", Verdana; //"HelveticaNeueLight"
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5 {
	font-family: "Gotham-Bold", Verdana;	
}

h1 {
	margin-top: 15px;
	
	font-size: 38px;
}

p {
	font-family: "Gotham-Medium", Verdana;
}

